.file-drop-container {
    margin: 0 auto;
    width: 50%;
    min-width: 300px;
}

.file-name-control {
    padding: 20px;
}

.avatar-preview-image {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
}

.avatar-preview-container {
    text-align: center;
    padding-bottom: 20px;
}
